<div>
  <div class="container">
    <input type="radio" class="btn-check" name="templete" id="option5" value="allEmployee" autocomplete="off"
      [(ngModel)]="templete" (click)="show()">
    <label class="btn btn-outline-primary" for="option5">Attendance</label>

    <input type="radio" class="btn-check" name="templete" id="option6" value="attendanceReport" autocomplete="off"
      [(ngModel)]="templete">
    <label class="btn btn-outline-success ms-2" for="option6">Report</label>
  </div>
  <ng-template [ngIf]="templete=='allEmployee'">
    <div>
      <div class="row">
        <div class="col-sm-2">
          <div class="my-3">
           
            <input type="date" class="form-control" id="exampleInputEmail1" name="attendanceDate"
              [(ngModel)]="attendanceDate">
          </div>
        </div>
      </div>
      <table class="table">
        <thead>
              <tr>
                <th scope="col">Department Id</th>
                <th scope="col">Department Name</th>
                
              </tr>
            </thead>
        <tbody>
          <tr *ngFor="let i of allemployee">
            <th scope="row">{{i.employeeId}} : {{i.name}}</th>
            <td>
            
              <input type="radio" class="btn-check" name="{{i.employeeId}}" id="{{i.employeeId}}a" autocomplete="off" value="A" > 
                  <label class="btn btn-outline-danger me-2"  for="{{i.employeeId}}a" (click)="makeAttendance(i.employeeId,'A')">Absent</label>
                  
                  <input type="radio" class="btn-check" name="{{i.employeeId}}" id="{{i.employeeId}}b" autocomplete="off" value="L" >
                  <label class="btn btn-outline-warning me-2" for="{{i.employeeId}}b" (click)="makeAttendance(i.employeeId,'L')">Leave</label>
                  
                  
                  <input type="radio" class="btn-check" name="{{i.employeeId}}" id="{{i.employeeId}}c" autocomplete="off" value="P" >
                  <label class="btn btn-outline-primary me-2" for="{{i.employeeId}}c" (click)="makeAttendance(i.employeeId,'P')">Present</label>
              
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
  <ng-template [ngIf]="templete=='attendanceReport'">
        <form (ngSubmit)="report()">
          <div class="row">
            <div class="mb-3 col-sm-2">
              <label for="startDate" class="form-label">Start Date</label>
              <input type="date" class="form-control" id="startDate" name="startDate" [(ngModel)]="startDate">
            </div>
            <div class="mb-3 col-sm-2">
              <label for="endDate" class="form-label">End Date</label>
              <input type="date" class="form-control" id="endDate" name="endDate" [(ngModel)]="endDate">
            </div>
            <button type="submit" class="btn btn-primary col-sm-2">Submit</button>
          </div>
          </form>
          <table class="table">
            <thead>
                  <tr>
                    <th scope="col">Employee Id</th>
                    <th scope="col">Date</th>
                    <th scope="col">Attendance Status</th>
                    
                  </tr>
                </thead>
            <tbody>
              <tr *ngFor="let i of attendanceReport">
                <th scope="row">{{i.employeeId}}</th>
                <td> {{i.date}} </td>
                <td> {{i.status}} </td>
              </tr>
            </tbody>
          </table>

    </ng-template>
</div>