<div>
    <div>
        <div class="bg-secondary" style="min-height: 3rem;"></div>
        <div class="">
            
            <div class="row my-5">
                <div class="col-sm-2 bg-success-subtle ps-4">
                    <nav>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" routerLink="/admin">Dashboard</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" routerLink="/admin/all-employees">Employee</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" routerLink="/admin/departments">Departments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/admin/staffAttendance">Attendance</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/admin/salary">Salary Sheet</a>
                            </li>
                          </ul>
                    </nav>
                </div>
                <div class="col-sm-9 ms-2">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>